.color-example{
    color:aqua;
    background-color:#FF5B3A;
    border:1px solid #44FF54;
}
.header-example{
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:blueviolet;
}
.list-example{
    list-style-type: square;
    color: darkblue;
}
.text-example{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    text-transform: capitalize;
    text-decoration: underline;
}
.div-example{
    background-color: deeppink;
    border: 1px solid #0059FF;
}
