 body {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
 header {
    background-color: #899bf7;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  
  nav {
    float: left;
    width: 8%;
    height: 500px;
    background: #d7c2ff;
    padding: 20px;
    text-indent: 10px;
  }

  nav a { 
    text-decoration: none;
}

  nav ul {
    list-style-type: none;
    padding: 5px;
    }

  nav ul li a:hover {
      color: red;
  }
  
  .container {
    float: left;
    padding: 22px;
    width: 86%;
    height: 500px;
    background-color: #b2ffff;
  }
  
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(4, 4, 4);
    color: rgb(255, 255, 255);
    text-align: center;
    }